<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Any Key additions, renames or deletions require a corresponding change to
  UpdateAppConfig.ps1 and the TFS deployments. -->
  <appSettings>
   
    <add key="SeleniumHub" value="http://localhost:4444/wd/hub"/>
    <add key="BaseUrl" value="https://www.smashingmagazine.com/"/>
    <!-- TestBrowser: LocalChrome, RemoteChrome-->
    <add key="TestBrowser" value="RemoteChrome"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>

